<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <a href="https://covid19.genyo.es/">
                <img src='../../../assets/images/datact.png' class="datact" alt="LogoGenyo" />
            </a>
            <a href="https://www.genyo.es/?lang=en">
                <img src='../../../assets/images/logoGenyo.png' class="app-logo" alt="LogoGenyo" />
            </a>
            <a href="https://www.ugr.es/en/">
                <img src='../../../assets/images/logoUGR.png' class="app-logo" alt="LogoUGR" />
            </a>
            <a href="https://www.easp.es/">
                <img src='../../../assets/images/logoEASP2020.png' class="app-logo" alt="LogoEASP2020" />
            </a>
            <a href="https://inb-elixir.es/transbionet">
                <img src='../../../assets/images/LogoTransbionet.png' class="app-logo" alt="LogoTransbionet" />
            </a>
        </div>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>