#rectangle{
    width:500px;
    height:500px;
    background:red;
    position:absolute; top:0px; left:0px;
}

#rectangle2{
    width:500px;
    height:500px;
    background:rgb(0, 255, 64);
    position:absolute; top:0px; left:500px;
}

#rectangle3{
    width:500px;
    height:500px;
    background: pink;
    position:absolute; top:500px; left:0px;
}